body {
    font-family: Arial, sans-serif;
    background-color: #141313;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #0b0a0a;
    height: 100vh;
    padding: 20px;
    position: relative;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar .logo {
    
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar .logo img{
    width: 30%;
    height:70px;
    margin-right:10px;
}


    


.sidebar nav a {
    display:block;
    padding: 10px 0;
    color: #e9e0e0;
    text-decoration:dashed;
    font-size: 16px;
    margin-bottom: 10px;
}

.sidebar nav a:hover {
    color: #ded7d7;
}

.sidebar .more a {
    color: #fff;
    text-decoration:dashed;
}

.main-content {
    flex-grow: 100;
    padding: 20px;
}

.stories {
    display: flex;
    margin-bottom: 50px;
}

.story {
    margin-right: 50px;
    text-align:center;
    cursor: pointer;
}

.story img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #f3f3f3;
}

.story p {
    margin-top: 5px;
    font-size: 12px;
}

.posts {
    background-color: #090909;
    padding: 20px;
    border-radius: 10px;
}

.post {
    margin-bottom: 20px;
}

.post-header p {
    font-weight:bolder;
    font-style: italic;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.post-content img {
    width: 100%;
    border-radius: 10px;
}

.post-content p {
    margin-top: 20px;
    font-size: 14px;
}

.suggestions {
    width: 300px;
    background-color: #1c1c1c;
    padding: 20px;
    height: 100vh;
    overflow-y:auto;
}

.suggestions h3 {
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 40px;
}

.suggestion {
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.suggestion a {
    color: #3897f0;
    text-decoration:underline;
    width: 78px;
    height:3px;
    padding: 16px;
    margin-left:10px;
	margin-bottom:10px;
    
}

.suggestion a:hover {
    text-decoration: underline;
    
    
}

.badge {
    background-color: #ff0000;
    color: #faf3f3;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 10px;
    margin-left: 5px;
}
